<!DOCTYPE html>
<head lang="de">
    <title>{{.ProfileName }} - {{.ApplicationName }}</title>
    {{template "head.html" .}}
    <script src="/static/js/calendar.js"></script>
</head>

<body>
    {{template "nav.html" .}}
    <main class="container">
        <!-- Error Message with a close button -->
        <div class="row d-none" id="error-message-wrapper">
            <div class="text-center alert alert-danger alert-dismissible" role="alert">
                <span id="error-message"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <!-- next and previous buttons -->
        <div class="row sticky-top bg-white">
            <div class="col text-center">
                <div class="d-inline-block h-75 align-bottom">
                    <a class="btn btn-primary btn-sm" id="btn-prev">&lt;</a>
                </div>
                <div class="d-inline-block vstack">
                    <div>
                        <span class="h5 text-center fw-bold m-0" id="current-date"></span>
                    </div>
                    <div>
                        <span class="h6">{{.ProfileName}}</span>
                    </div>
                </div>
                <div class="d-inline-block h-75 align-bottom">
                    <a class="btn btn-primary btn-sm" id="btn-next">&gt;</a>
                </div>
            </div>
        </div>
        <div id="calendar">
        </div>
    </main>
    {{template "footer.html" .}}
    <script type="module">
        const events = {{ .Events }};

        let show_edit = window.localStorage.getItem("token") !== null;
        let immutable_past = {{ .ImmutablePast }};
        let check_auth_url = {{((.Router.Get "apiCheckAuth").URL "profile" .ProfileName).Path}};
        if (show_edit) {
            let response = await fetch(check_auth_url, {
                method: "POST",
                headers: {
                    "Authorization": window.localStorage.getItem("token")
                }
            })
            if (!response.ok) {
                show_edit = false;
                // We have a token, but it's not valid anymore.
                document.getElementById("error-message").innerHTML = "Der gespeicherte Token ist ungültig. Bearbeitung ist deaktiviert.";
                document.getElementById("error-message-wrapper").classList.remove("d-none");
            }
        }

        let currentType = "month"; //month or week

        function updateCalendar(date) {
            let calendarStart;
            let calendarEnd;
            if(currentType === "month"){
                document.getElementById("current-date").innerHTML = currentDate.format("MMMM YYYY");

                calendarStart = date.day(0);
                calendarEnd = date.add(4, "week").day(6);
            }else{
                document.getElementById("current-date").innerHTML = "KW"+currentDate.format(" w MMMM");

                calendarStart = date.startOf("week").subtract(1, "day");
                calendarEnd = calendarStart.add(1, "week");
            }
            console.log(calendarStart);
            console.log(calendarEnd);
            let calendar = document.getElementById("calendar");
            calendar.innerHTML = "";
            let row;
            for (let date = calendarStart; date <= calendarEnd; date = date.add(1, "day")) {
                if (date.day() === 0) {
                    row = document.createElement("div");
                    row.classList.add("row");
                    calendar.appendChild(row);
                    continue;
                }
                let day_vstack = getDayVStack(date, events, show_edit, !immutable_past || date >= dayjs());
                row.appendChild(day_vstack);
            }
        }

        let currentDate = location.hash ? dayjs(location.hash.substring(1)) : dayjs().startOf(currentType);
        if(location.hash.length > 8){
            currentType = "week";
            console.log("Enabling week view");
        }
        updateCalendar(currentDate);

        function setSelectedDate(date) {
            currentDate = date;
            if(currentType === "month"){
                window.location.hash = date.format("YYYY-MM");
            }else{
                window.location.hash = date.format("YYYY-MM-DD");
            }
            updateCalendar(date);
        }

        document.getElementById("btn-prev").addEventListener("click", () => {
            setSelectedDate(currentDate.subtract(1, currentType).startOf(currentType));
        });
        document.getElementById("btn-next").addEventListener("click", () => {
            setSelectedDate(currentDate.add(1, currentType).startOf(currentType));
        });
    </script>
</body>