<!DOCTYPE html>
<head  lang="de">
    <title>Feed {{.ProfileName}} - {{.ApplicationName}}</title>
    <link rel="alternate" type="application/rss+xml" title="Calendar Notification for {{.ProfileName}}" href="{{((.Router.Get "rss").URL "notifier" .ProfileName).Path}}"/>
    {{template "head.html" .}}
</head>
<body>
    {{template "nav.html" .}}
    <main class="container">
        <h1>Letzte Änderungen <a href="{{((.Router.Get "rss").URL "notifier" .ProfileName).Path}}"><img style="height:32px;" align="right" src="/static/media/rss.svg" alt="RSS Icon"></a></h1>
        
        <div class="list-group">
            {{range .FeedItems}}
            <a href="{{.Link}}" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{.Title}}</h5>
                <small>{{.PubDate}}</small>
              </div>
              <p class="mb-1">{{.Description}}</p>
            </a>
            {{end}}
        </div>

    </main>
    {{template "footer.html" .}}
</body>