<footer class="footer mt-auto container pt-2 text-muted pb-2">
    <hr class="pb-0 mb-2">
    <div class="float-start">
        {{.Version}} | Maintained on GitHub at <a href="https://github.com/JM-Lemmi/ical-relay" class="text-muted">JM-Lemmi/ical-relay</a>
    </div>
    <div class="float-end">
        <a href="{{.ImprintLink}}" class="nav-link d-inline">Impressum</a> | <a href="{{.PrivacyPolicyLink}}" class="nav-link d-inline">Datenschutz</a>
    </div>
</footer>
<script src="/static/js/jquery-3.6.3.slim.min.js"></script>
<script src="/static/js/select2-4.0.13.min.js"></script>
<script src="/static/js/bootstrap-5.2.3.min.js"></script>
<script src="/static/js/profiles.js"></script>
<script src="/static/js/api.js"></script>
<script>
	initSelect2('#nav-profile');
    async function displayAdminIfSuperAuth(){
        try{
            if(window.localStorage.getItem("token") !== null && await API.get("checkSuperAuth") === "ok"){
                document.querySelector("#nav-admin-link").classList.remove("d-none");
            }
        }catch(APIError){}
    }
    displayAdminIfSuperAuth();
</script>