<footer class="footer mt-auto container pt-2 text-muted pb-2">
    <hr class="pb-0 mb-2">
    <div class="float-start">
        {{.Version}} | Maintained on GitHub at <a href="https://github.com/JM-Lemmi/ical-relay" class="text-muted">JM-Lemmi/ical-relay</a>
    </div>
    <div class="float-end">
        <a href="{{.ImprintLink}}" class="nav-link d-inline">Impressum</a> | <a href="{{.PrivacyPolicyLink}}" class="nav-link d-inline">Datenschutz</a>
    </div>
</footer>
<script src="/static/js-dep/jquery.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="></script>
<script src="/static/js-dep/select2.min.js" integrity="sha256-AFAYEOkzB6iIKnTYZOdUf9FFje6lOTYdwRJKwTN5mks="></script>
<script src="/static/js-dep/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"></script>
<script src="/static/js/profiles.js"></script>
<script src="/static/js/api.js"></script>
<script>
	initSelect2('#nav-profile');
    async function displayAdminIfSuperAuth(){
        try{
            if(window.localStorage.getItem("token") !== null && await API.get("checkSuperAuth") === "ok"){
                document.querySelector("#nav-admin-link").classList.remove("d-none");
            }
        }catch(APIError){}
    }
    displayAdminIfSuperAuth();
</script>