<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="{{.FaviconPath}}">
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/bootstrap-5.2.3.min.css">
<script src="/static/js/dayjs-1.11.7.min.js"></script>
<script src="/static/js/dayjs-1.11.7-locale-de.js"></script>
<script src="/static/js/dayjs-1.11.7-plugin-advancedFormat.js"></script>
<script src="/static/js/dayjs-1.11.7-plugin-weekOfYear.js"></script>
<script>
    dayjs.locale("de");
    dayjs.extend(window.dayjs_plugin_advancedFormat);
    dayjs.extend(window.dayjs_plugin_weekOfYear);
</script>
<link rel="stylesheet" href="/static/css/select2-4.0.13.min.css">
<link rel="stylesheet" href="/static/css/select2-bootstrap4-theme-1.5.2.min.css">