<!DOCTYPE html>

<head lang="de">
    <title>Profil bearbeiten - {{.ApplicationName}}</title>
    {{template "head.html" .}}
</head>

<body>
    {{template "nav.html" .}}
    <main class="container">
        <h1>Profil {{ .ProfileName }} bearbeiten</h1>
        <h2>Quellen</h2>

        {{ range $i, $source := .Sources }}
        <div class="row g-3 align-items-center">
            <div class="col me-auto">
                <input type="text" id="source{{ $i }}" class="form-control" value="{{ $source }}" disabled>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-danger" onclick="removeSource({{ $i }})">Löschen</button>
            </div>
        </div>
        {{ end }}
        <div class="row g-3 align-items-center">
            <div class="col me-auto">
                <input type="text" id="new-source" class="form-control">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary" onclick="addSource()">Hinzufügen</button>
            </div>
        </div>

        <h2>Regeln</h2>
        {{ range $i, $rule := .Rules }}
        <div class="card">
            <div>
                <h4 class="card-header pb-3">
                    Regel {{ $i }}
                    <a href="#" class="btn btn-danger float-end">Löschen</a>
                    <a href="#" class="btn btn-primary float-end">Speichern</a>
                </h4>
            </div>
            <div class="card-body">
                <div class="mb-2">
                <h5 class="card-title">Filter</h5>
                {{ range $j, $filter := $rule.Filters }}
                    {{ range $key, $value := $filter }}
                        <strong>{{ $key }}</strong>: {{ $value }}<br/>
                    {{ end }}
                {{ end }}
                <strong>Operator</strong>: {{if $rule.Operator }}{{ $rule.Operator }}{{ else }}or{{ end }}<br/>
                </div>
                <div class="mb-2">
                <h5 class="card-title">Aktion</h5>
                {{ range $key, $value := $rule.Action }}
                    <strong>{{ $key }}</strong>: {{ $value }}<br/>
                {{ end }}
                </div>
            </div>
        </div>
        {{ end }}

        <details>
            <summary class="h3">Fortgeschrittene Optionen</summary>
            <div class="alert alert-warning" role="alert">
                <strong>Warnung:</strong> Die fortgeschrittenen Optionen können das Verhalten des Kalenders verändern
                und sollten nur von erfahrenen Benutzern verwendet werden.
            </div>
            <form id="advanced-profile-form" method="POST">
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="public" name="public" {{if
                        .Public}}checked{{end}}>
                    <label for="public" class="form-check-label">Gelistet</label>
                    <div class="form-text text-muted">Kalender wird in der öffentlichen Liste angezeigt</div>
                </div>
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="immutable" name="immutable" {{if
                        .ImmutablePast}}checked{{end}}>
                    <label for="immutable" class="form-check-label">Geschütze Vergangenheit</label>
                    <div class="form-text text-muted">Kalendereinträge in der Vergangenheit können nicht verändert
                        werden</div>
                </div>
                <!-- right aligend submit button -->
                <button type="submit" class="btn btn-primary float-end">Speichern</button>
            </form>
        </details>
    </main>
    {{template "footer.html" .}}
</body>