<!DOCTYPE html>
<head  lang="de">
    <title>Abbonieren - {{.ApplicationName}}</title>
    <link rel="alternate" type="application/rss+xml" title="Calendar Notification for {{.ProfileName}}" href="{{((.Router.Get "rss").URL "notifier" .ProfileName).Path}}"/>
    {{template "head.html" .}}
</head>
<body>
    {{template "nav.html" .}}
    <main class="container">
        <h1>Benachrichtigungen abbonieren</h1>
        <form id="subscribe-form" target="/api/">
            <div class="alert alert-danger" id="error" style="display: none;">
                Ein Fehler ist aufgetreten!
            </div>
            <div class="alert alert-success" id="save-success" style="display: none;">
                Einstellungen gespeichert!
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="rectype" class="form-label">Typ</label>
                        <select class="form-select" id="rectype">
                            <option value="mail" {{if eq .type "mail"}}selected{{end}}>E-Mail</option>
                            <option value="webhook" {{if eq .type "webhook"}}selected{{end}}>Webhook</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="recipient" class="form-label">Empfänger</label>
                        <input type="text" class="form-control" id="recipient" name="token" value="{{.recipient}}">
                    </div>
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>
            </div>
        </form>
        <p style="margin-top:32px;">Oder per RSS: <a href="{{((.Router.Get "rss").URL "notifier" .ProfileName).Path}}"><img style="height:12px;" src="/static/media/rss.svg" alt="RSS Icon"></a></p>
    </main>
    {{template "footer.html" .}}
    <script>
        function handleSaveSettings(e) {
            e.preventDefault();
            let api_url = ("/api/notifier/{{.notifier}}/recipient?type="+ document.getElementById("rectype").value+"&recipient=" + document.getElementById("recipient").value);
            fetch(api_url, {
                method: "POST"
            }).then(response => {
                if (response.ok) {
                    document.getElementById("save-success").style.display = "block";
                    document.getElementById("error").style.display = "none";
                } else {
                    document.getElementById("error").style.display = "block";
                    document.getElementById("save-success").style.display = "none";
                }
            });
        }
        document.addEventListener('DOMContentLoaded', function () {
            var loginForm = document.querySelector('#subscribe-form');
            loginForm.addEventListener('submit', handleSaveSettings);
        });
    </script>
</body>