ical-relay
relay
!ical-relay/
notifier
/dist
rice-box.go
.devcontainer
addical.ics
config.toml
config.yml
config*.yml
!.github/sys-tests/*/config.yml
notifier-config.yml
data.yml
!.github/sys-tests/*/data.yml
/tmp/
.debpkg/
calstore/
notifystore/
rssstore/
postgres-data
__debug_bin*
cmd/ical-relay/db/*
.vscode/*
VERSION
combined_vtimezones.ics
