server:
    addr: ":80"
    loglevel: "debug"

profiles:
    relay:
        url: "https://example.com/calendar.ics"
        public: true
        modules:
        - name: "delete-bysummary-regex"
          regex: "testentry"
          from: "2021-12-02T00:00:00Z"
          until: "2021-12-31T00:00:00Z"
        - name: "add-url"
          url: "https://othersource.com/othercalendar.ics"
          header-Cookie: "MY_AUTH_COOKIE=abcdefgh"
