:root {
    --dhbw-red: #E3001B;
    --day-title-color: white;
    --shadow-color: rgba(0, 0, 0, 0.07);
}

body {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}

.day-column > :first-child {
    background-color: var(--dhbw-red);
    color: var(--day-title-color);
}

.day-column > :last-child {
    border-radius: 0 0 5px 5px !important;
}

.day-column > * {
    box-shadow: 0 1px 1px var(--shadow-color), 
    0 2px 2px var(--shadow-color), 
    0 4px 4px var(--shadow-color), 
    0 8px 8px var(--shadow-color),
    0 16px 16px var(--shadow-color);
}