<footer class="footer mt-auto container pt-5 text-muted pb-2">
    <hr class="pb-0 mb-2">
    <div class="float-start">
        {{.Version}} | Maintained on GitHub at <a href="https://github.com/JM-Lemmi/ical-relay" class="text-muted">JM-Lemmi/ical-relay</a>
    </div>
    <div class="float-end">
        <a href="#" class="nav-link d-inline">Impressum</a> | <a href="#" class="nav-link d-inline">Datenschutz</a>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
