<!DOCTYPE html>
<head lang="de">
    <title>Calendar</title>
    {{template "head.html" .}}
</head>

<body>
    {{template "nav.html" .}}
    <main class="container">
        {{if .Profiles}}
		<div class="w-50 mx-auto">
        <select class="form-control" id="main-profile">
			<option></option>
            {{range .Profiles}}
            <option value="{{.ViewURL}}"{{if eq .Name $.ProfileName}} selected{{end}}>{{.Name}}</option>
            {{end}}
        </select>
		</div>
        {{end}}
    </main>
    {{template "footer.html" .}}
    <script>
		initSelect2('#main-profile');
    </script>
</body>