<!DOCTYPE html>
<head lang="de">
    <title>Calendar</title>
    {{template "head.html" .}}
    <script>
        // Because this is potentially a redirect, we run it as soon as possible
        let stored_profile = window.localStorage.getItem('profile');
        if (stored_profile !== null) {
            let profile_url = ({{((.Router.Get "monthlyView").URL "profile" "%PROFILE%").Path}}).replace('%PROFILE%', encodeURIComponent(stored_profile));
            window.location.href =  profile_url;
        }
    </script>
</head>

<body>
    {{template "nav.html" .}}
    <main class="container">
        {{if .Profiles}}
        <select id="main-profile" style="display: block;margin: 0 auto;font-size: 40px;">
            <option value="/">Profil auswählen</option>
            {{range .Profiles}}
            <option value="{{.ViewURL}}" {{if eq .Name $.ProfileName}}selected{{end}}>{{.Name}}</option>
            {{end}}
        </select>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var profileSelect = document.querySelector('#main-profile');
                profileSelect.addEventListener('change', function () {
                    window.location.href = profileSelect.value;
                });
            });
        </script>
        {{end}}
    </main>
    {{template "footer.html" .}}
</body>