<!DOCTYPE html>
<head>
    <title>Calendar</title>
    {{template "head.html" .}}
</head>
<body>
    {{template "nav.html" .}}
    <main class="container">
        <form id="login-form">
            <h1>Login</h1>
            <div class="alert alert-danger" id="login-error" style="display: none;">
                Dieses Token ist nicht für dieses Profil gültig!
            </div>
            <div class="row">
                <div class="col">                    
                    <div class="mb-3">
                        <label for="profile" class="form-label">Profile</label>
                        <select class="form-select" id="profile" name="profile">
                            {{range .Profiles}}
                            <option value="{{.Name}}">{{.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="token" class="form-label">Token</label>
                        <input type="text" class="form-control" id="token" name="token">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </main>
    {{template "footer.html" .}}
    <script>
        function handleLogin(e) {
            e.preventDefault();
            fetch(`/api/profiles/${document.getElementById("profile").value}/checkAuth`, {
                method: "GET",
                headers: {
                    "Authorization": `${document.getElementById("token").value}`
                }
            }).then(response => {
                if (response.ok) {
                    localStorage.setItem("token", document.getElementById("token").value);
                    window.location.href = "/";
                } else {
                    document.getElementById("login-error").style.display = "block";
                }
            });
        }
        document.addEventListener('DOMContentLoaded', function () {
            var loginForm = document.querySelector('#login-form');
            loginForm.addEventListener('submit', handleLogin);
        });
    </script>
</body>