<!DOCTYPE html>

<head>
    <title>Calendar</title>
    {{template "head.html" .}}
</head>

<body>
    {{template "nav.html" .}}
    <main class="container">
        <h1>Kalendermodule bearbeiten</h1>
        <h2>{{ .ProfileName }}</h2>
        <!-- dropdown which lets the user pick from "edit-byid", "edit-byname", "edit-byurl" -->
        <div class="form-group row">
            <label class="col-sm-2" for="module-type" class="col-sm-2 col-form-label">Modultyp</label>
            <div class="col-sm-8">
                <select class="form-select" id="module-type">
                    <option value="edit-byid">edit-byid</option>
                    <option value="edit-bysummary-regex">edit-bysummary-regex</option>
                </select>
            </div>
            <div class="col-sm-2 text-end">
                <button type="button" class="btn btn-primary" onclick="addModule()">Hinzufügen</button>
            </div>
        </div>
        <hr />
        {{ range $i, $module := .Modules }}
        <div class="form-group row" id="module-{{ $i }}">
            {{ range $k, $v := . }}
            <label class="col-sm-2" for="{{ $i }}-{{ $k }}" class="col-sm-2 col-form-label">{{ $k }}</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="{{ $i }}-{{ $k }}" data-key="{{ $k }}"
                    value="{{ $v }}">
            </div>
            {{ end }}
            <div class="col text-end">
                <button type="button" class="btn btn-success" onclick="saveModule({{ $i }})">Speichern</button>
                <button type="button" class="btn btn-danger" onclick="deleteModule({{ $i }})">Löschen</button>
            </div>
        </div>
        <!-- right aligned button -->
        <hr />
        {{ end }}

    </main>
    {{template "footer.html" .}}
    <script>

        function deleteModule(id) {
            console.log("delete module " + id);
            // FIXME: Implement Module deletion
            alert("Not implemented yet");
        }
        function saveModule(id) {
            let module = document.getElementById("module-" + id);
            let data = {};
            // find all "input" elements in the module, deeply nested
            let inputs = module.querySelectorAll("input");
            for (let i = 0; i < inputs.length; i++) {
                let input = inputs[i];
                let key = input.getAttribute("data-key");
                let value = input.value;
                data[key] = value;
            }
            // set a POST request to the server 
            let module_api = {{((.Router.Get "modules").URL "profile" .ProfileName).Path}};
            fetch(module_api, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": window.localStorage.getItem("token")
                },
                body: JSON.stringify(data)
            }).then(response => {
                if (response.ok) {
                    console.log("saved module " + id);
                    location.reload();
                } else {
                    // FIXME: Use HTML to display error message, not alert()
                    alert("failed to save module!");
                }
            });
        }
    </script>
</body>