<!DOCTYPE html>
<head lang="de">
    <title>{{.ProfileName}} Calendar</title>
    {{template "head.html" .}}
    <script src="/static/js/calendar.js"></script>
</head>

<body>
    {{template "nav.html" .}}
    <main class="container">
        <!-- Error Message with a close button -->
        <div class="row d-none" id="error-message-wrapper">
            <div class="text-center alert alert-danger alert-dismissible" role="alert">
                <span id="error-message"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <!-- next and previous month buttons -->
        <div class="row sticky-top bg-white">
            <div class="col text-center">
                <div class="d-inline-block h-75 align-bottom">
                    <a class="btn btn-primary btn-sm" id="btn-prev-month">Previous Month</a>
                </div>
                <div class="d-inline-block vstack">
                    <div>
                        <span class="h5 text-center fw-bold m-0" id="current-month"></span>
                    </div>
                    <div>
                        <span class="h6">{{.ProfileName}}</span>
                    </div>
                </div>
                <div class="d-inline-block h-75 align-bottom">
                    <a class="btn btn-primary btn-sm" id="btn-next-month">Next Month</a>
                </div>
            </div>
        </div>
        <div id="calendar">
        </div>
    </main>
    {{template "footer.html" .}}
    <script type="module">
        const events = {{ .Events }};

        let show_edit = window.localStorage.getItem("token") !== null;
        let immutable_past = {{ .ImmutablePast }};
        let check_auth_url = {{((.Router.Get "apiCheckAuth").URL "profile" .ProfileName).Path}};
        if (show_edit) {
            let response = await fetch(check_auth_url, {
                method: "POST",
                headers: {
                    "Authorization": window.localStorage.getItem("token")
                }
            })
            if (!response.ok) {
                show_edit = false;
                // We have a token, but it's not valid anymore.
                document.getElementById("error-message").innerHTML = "Der gespeicherte Token ist ungültig. Bearbeitung ist deaktiviert.";
                document.getElementById("error-message-wrapper").classList.remove("d-none");
            }
        }
        function updateCalendar(date) {

            document.getElementById("current-month").innerHTML = currentMonth.format("MMMM YYYY");

            let calendar_start = date.day(0);
            let calendar_end = date.add(4, "week").day(6);
            let calendar = document.getElementById("calendar");
            calendar.innerHTML = "";
            let row;
            for (let date = calendar_start; date <= calendar_end; date = date.add(1, "day")) {
                if (date.day() == 0) {
                    row = document.createElement("div");
                    row.classList.add("row");
                    calendar.appendChild(row);
                    continue;
                }
                let day_vstack = getDayVStack(date, events, show_edit, !immutable_past || date >= dayjs());
                row.appendChild(day_vstack);
            }
        }

        function setSelectedMonth(date) {
            currentMonth = date;
            window.location.hash = currentMonth.format("YYYY-MM");
            updateCalendar(date);
        }

        let currentMonth = location.hash ? dayjs(location.hash.substring(1)) : dayjs().startOf("month");
        updateCalendar(currentMonth);

        document.getElementById("btn-prev-month").addEventListener("click", () => {
            setSelectedMonth(currentMonth.subtract(1, "month").startOf("month"));
        });
        document.getElementById("btn-next-month").addEventListener("click", () => {
            setSelectedMonth(currentMonth.add(1, "month").startOf("month"));
        });
    </script>
</body>