<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Calendar</a> 
        {{if .Profiles}}
            <select id="profile">
                {{range .Profiles}}
                    <option value="{{.ViewURL}}" {{if eq .Name $.ProfileName}}selected{{end}}>{{.Name}}</option>
                {{end}}
            </select>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var profileSelect = document.querySelector('#profile');
                    profileSelect.addEventListener('change', function() {
                        window.location.href = profileSelect.value;
                    });
                });
            </script>
        {{end}}
    </div>
</nav>