<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <div class="container">
        <a class="navbar-brand" href="/">Calendar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{(.Router.Get "settings").URL }}">Einstellungen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">¯\_(ツ)_/¯</a>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            {{if .Profiles}}
            <select id="nav-profile">
                <option value="/">Profil auswählen</option>
                {{range .Profiles}}
                <option value="{{.ViewURL}}" {{if eq .Name $.ProfileName}}selected{{end}}>{{.Name}}</option>
                {{end}}
            </select>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var profileSelect = document.querySelector('#nav-profile');
                    profileSelect.addEventListener('change', function () {
                        window.location.href = profileSelect.value;
                    });
                });
            </script>
            {{end}}
        </div>

    </div>
</nav>