<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <div class="container">
        <a class="navbar-brand" href="/">Calendar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{(.Router.Get "settings").URL }}">Einstellungen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{(.Router.Get "howtoUsers").URL }}">How-To</a>
                </li>
                {{ if .ProfileName }}
                <li class="nav-item">
                    <a class="nav-link" href="{{((.Router.Get "notifierSubscribe").URL "notifier" .ProfileName).Path}}">Benachrichtigungen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{((.Router.Get "profile").URL "profile" .ProfileName).Path}}">ICS herunterladen</a>
                </li>
                {{ end }}
                <li class="nav-item d-none" id="nav-admin-link">
                    <a class="nav-link" href="{{((.Router.Get "admin").URL).Path}}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">BETA!</a>
                </li>
            </ul>
            {{if .Profiles}}
			<form class="d-flex">
   			<select class="form-select" id="nav-profile">
                <option></option>
                {{range .Profiles}}
                <option value="{{.ViewURL}}" {{if eq .Name $.ProfileName}}selected{{end}}>{{.Name}}</option>
                {{end}}
            </select>
			</form>
            {{end}}
        </div>
    </div>
</nav>