<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>{{ .Name }} - ical-relay</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.css" integrity="sha256-axw2X0VxNHUsiTNmkr2sg+0YTTdXguJpDdyt0H3WOgE=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.css" integrity="sha256-Nt1jjcb7BjpIGL9BEJjnZN9sySJXdYIvyBhMoao3fug=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.3.0/main.min.css" integrity="sha256-WID6AXzUvFn5HbDibqulC5qT6/BEVF06KgFUYTFYDUM=" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/ical.js@1.3.0/build/ical.min.js" integrity="sha256-1oaCObP6yNz1ouAW50FOpNBBSNqZtpINrbL8B4W+kmM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.min.js" integrity="sha256-R6yYFoANglxsUTTvwXVslacHMgxNPBNTCDo3MFssodk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.js" integrity="sha256-+7O9nLAUf7eXgEvz4O+FyuDUzTjnmRvF92B1vJt2G+U=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.3.0/main.min.js" integrity="sha256-7u6nFcHuDiyiRwnQGYJmgLN5DCwFPik/3hBOi3MKeII=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/locales/de.js" integrity="sha256-+DYKIXfByJJNGAg029B/8o69nTMzpir5yFABNPH4Ycc=" crossorigin="anonymous"></script>
  </head>
  <body>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        function onLoad() {
          // load ical data
          var jcalData = ICAL.parse(this.responseText);
          var component = new ICAL.Component(jcalData);
          // convert ical data into events array
          var events = [];
          component.getAllSubcomponents('vevent').forEach(vevent => {
            eventStart = vevent.getFirstPropertyValue('dtstart')
            eventSummary = vevent.getFirstPropertyValue('summary')
            veventObj = new ICAL.Event(vevent);
            if (veventObj.isRecurring()) {
              var rrule = vevent.getFirstPropertyValue('rrule');
              var recur = new ICAL.Recur(rrule);
              var recurIterator = recur.iterator(eventStart);
              for (var recurTime = recurIterator.next(); recurTime; recurTime = recurIterator.next()) {
                var start = recurTime.toString()
                recurTime.addDuration(veventObj.duration);
                events.push({
                  title: eventSummary,
                  start: start,
                  end: recurTime.toString(),
                });
              }
            }
            events.push({
              title: eventSummary,
              start: eventStart.toString(),
              end: vevent.getFirstPropertyValue('dtend').toString(),
            });
          });

          var calendarElement = document.querySelector('#calendar');
          var calendar = new FullCalendar.Calendar(calendarElement, {
            events: events,
            plugins: ['timeGrid'],
            defaultView: 'timeGridWeek',
            nowIndicator: true,
            weekends: false,
            minTime: '07:00:00',
            maxTime: '18:00:00',
            locale: 'de',
            height: 'auto',
          });
          calendar.render();
        }

        var req = new XMLHttpRequest();
        req.addEventListener("load", onLoad);
        req.open("GET", "{{ .URL }}");
        req.send();
      });
    </script>
    <div id="calendar"></div>
  </body>
</html>
