<!DOCTYPE html>
<head>
    <title>Calendar</title>
    {{template "head.html" .}}
</head>
<body>
    {{template "nav.html" .}}
    <main class="container">
        <h1>Benachrichtigungen abbestellen</h1>
        <form id="subscribe-form" target="/api/">
            <div class="alert alert-danger" id="error" style="display: none;">
                Ein Fehler ist aufgetreten!
            </div>
            <div class="alert alert-success" id="save-success" style="display: none;">
                Einstellungen gespeichert!
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="mail" class="form-label">Mail-Addresse</label>
                        <input type="text" class="form-control" id="mail" name="token" value="{{.mail}}">
                    </div>
                    <button type="submit" class="btn btn-danger">Abbestellen</button>
                </div>
            </div>
        </form>
    </main>
    {{template "footer.html" .}}
    <script>
        function handleSaveSettings(e) {
            e.preventDefault();
            let api_url = ("/api/notifier/{{.notifier}}/recipient?mail=" + document.getElementById("mail").value);
            fetch(api_url, {
                method: "DELETE"
            }).then(response => {
                if (response.ok) {
                    document.getElementById("save-success").style.display = "block";
                    document.getElementById("error").style.display = "none";
                } else {
                    document.getElementById("error").style.display = "block";
                    document.getElementById("save-success").style.display = "none";
                }
            });
        }
        document.addEventListener('DOMContentLoaded', function () {
            var loginForm = document.querySelector('#subscribe-form');
            loginForm.addEventListener('submit', handleSaveSettings);
        });
    </script>
</body>