[Unit]
Description=Relay ical urls and edit them on the fly with different modules.

[Service]
User=ical-relay
Group=ical-relay
ExecStart=/usr/bin/ical-relay --config /etc/ical-relay/config.yml

[Install]
WantedBy=multi-user.target
